
<div class="card col-md-3">
   <div class="card-body">
      <h5 class="card-title">Jobseeker: {{dataValues.first_name}} {{dataValues.last_name}}</h5>
      <p class="card-text">{{dataValues.yr_exp}} years of experience</p>
      {{!-- create link below dynamically --}}
      <a href="#" class="btn btn-primary">Github {{dataValues.github}}</a>
      <h6 class="card-title">Good at: {{dataValues.primary_tech_id}}, {{dataValues.secondary_tech_id}}
      </h6>
      <h6 class="card-title">Remote: {{dataValues.remote}}</h6>
      <h6 class="card-title">Education: {{dataValues.education_id}}</h6>
   </div>
</div>
