{{!-- <table class=" table table-dark table-striped text-center">
   <tbody>
      {{#each comments}}
      <tr>
         <td> {{this.dataValues.comment}}</td>
         <td> {{this.dataValues.createdAt}}</td>
      </tr>
      {{/each}}
   </tbody>

</table> --}}



<div class="card" style="width: 18rem;">
   <div class="card-body">
      <h5 class="card-title">Offered from: {{comp_name}}</h5>
      <p class="card-text">Description: {{job_descrip}}</p>
      <a href="#" class="btn btn-primary">Job Link</a>
      <h6 class="card-title">Required: {{primary_tech_id}}, {{secondary_tech_id}}
      </h6>
      <h6 class="card-title">Remote: {{remote}}</h6>
   </div>
</div>